#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(168,45,168);
    color: white;
  }
  h3{
    color: black;
    padding-left: 15%;
    padding-top: 2%;
    border-block-color: white;
  }
  body{
    background-color:rgb(52, 58, 64) ;
  }