body {
    background-color: #202020;
    font-family: cursive !important;
}

img {
    margin-top: 5%;
    margin-left: 24px;
    border-radius: 30px;
    min-width: 40%;
    max-height: 386px;
}
h3{
    margin-left: 8px;
}
p {
    margin-left: 20px;
    font-family: cursive !important;
    margin-top: 10px;
    color: beige;
}

.bn {
    border-radius: 20px;
    background: linear-gradient(45deg, #a273b1, #00000069);
    color: beige;
    width: 100px;
    font-family: cursive;
}

input {
    margin-left: 20px;
    margin-top: 10px;
    font-family: cursive;
    border-radius: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right{
    display: inline-block;
    width: 46%;
    padding-bottom: 130px;
    margin-top: 71px;
    border-radius: 30px;
    background-color: #2E2E2E;
}
